SUPABASE_URL=https://rdmanpdlhaafvhkjncbl.supabase.co/rest/v1/
SUPABASE_KEY=sb_publishable_JHpC_d2jMnB3eZScSt7wjA_htJm7hwR
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:7b
CORS_ORIGINS=http://localhost:5173
